.navbar-shadow{
    box-shadow: 0px 0 10px 5px #00000088, 5px 0 10px 0px #00000088;
}

.h3-header {
    /* margin: 0 16px; */
    color: #ffcb05;
    text-shadow: #4097eb 2px 2px 3px, #2b73b8 -2px -2px 3px;
}

.li-home svg{
    fill: rgb(240, 255, 255);
    width: 24px;
    height: 24px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.li-home svg:hover {
    fill: #ffcb05;
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

