.poke-plus {
    display: inline-block;
    padding: 0 8px;
}

.poke-plus>span {
    color: #ffcb05;
    font-weight: bold;
}

.poke-plus svg {
    width: 32px;
    height: 32px;
    fill: rgb(240, 255, 255);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.poke-plus svg:hover {
    cursor: pointer;
    fill: #ffcb05;
    transform-origin: center;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.poke-plus-minus svg:hover {
    fill: #e63737;
}

span .rounded-pill {
    background-color: #ffcb05!important;
    font-size: 1rem;
}